.container{
    display: block;
    background:white;
    border:2px solid black;
    border-radius: 20px;
    padding:10px;
    width:80%;
    margin:auto;
    text-align: center;
}
h1{
    text-align:center;
}
input{
    width:90%;
    display: block;
    border:3px solid black;
    padding:5px;
    border-radius: 20px;;
    margin:auto;
}
html{
    background-color: antiquewhite;
}
#submit{
    background-color: rgb(3, 58, 2);
    padding: 4px;
    width:10%;
    color:white;
    font-weight: bolder;
    border-radius: 20px;
}
.pending{
    background-color: rgb(238, 255, 163);
    text-align: left;
    margin:auto;
    width:90%;
    border:2px solid black;
    padding:5px;
}
.completed{
    background-color: rgb(144, 255, 171);
    text-align: left;
    margin:auto;
    width:90%;
    border:2px solid black;
    padding:5px;
}